@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    justify-content: space-between;
   

}
.logo{
   
    margin: auto;
}
.login{
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    
}
.login1{
  padding: 1rem;
  box-shadow: 0px 10px 6px -2px rgba(0,0,0,0.16);
  margin-right: 70px;
    
}
.titulo{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content:space-between;
    display: flex;
    
}

form{
    margin: auto;
    display:flex;
    flex-direction: column;
}
.input{
    flex-direction: column;
    display: flex;
    gap: 1rem;
    width:640px;
    align-items: center;
}
input{
    padding:10px;
    border-radius: 10px;
    border: solid 1px black;
    width:350px;
    display: flex;
    
}
button{
    padding: 10px;
    border-radius: 10px;
    width: 130px;
    display: flex;
    justify-content: center;
    gap: 5px;
    background: #56A0DC;
    border: none;
    color: white;
}
button:hover{
    background: #3A7FED;
}
label{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    position: relative;
    right: 130px;
   

}
#Lembre-me{
   position: relative;
   top: 35px;
   right: 65px;

}
.SejaBemVindo{
    height: 600px;
    width: 600px;
    box-shadow: 0px 10px 6px -2px rgba(0,0,0,0.16);
    position: relative;
    right: 70px;
    background: linear-gradient(0deg, rgba(98,128,153,1) 0%, rgba(164,214,255,1) 17%, rgba(206,233,255,1) 93%);
    
}
.titulo  img{
   position: relative;
   left: 15px;
   bottom: 20px;
}
.texto{
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
.texto h2{
    font-size: 40px;
    text-align: center;
    font-family: Urbanist;
    font-weight:normal ;
}
.texto p{
    font-size: 20px;
    text-align: center;
    font-family: Urbanist;
}
.img3 img{
    display: flex;
    position: relative;
    left: 370px;
    top: 28px;

}




