@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
:root{

    --primarycolor:#FF6A6A;
    --secundcolor: #ffffff;
    --tercerycolor: #56A0DC;
    --forcolor:#FFC965;


    --fontText: Urbanist;

}
p{
    font-family: var(--fontText);
    letter-spacing: 1px;
}
h2{
    font-family: var(--fontText);
    letter-spacing: 1px;
}
body{
   background-color:#EEF2F8 ; 
}