@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
:root{

    --primarycolor:#FF6A6A;
    --secundcolor: #ffffff;
    --tercerycolor: #56A0DC;
    --forcolor:#FFC965;


    --fontText: Urbanist;

}
header{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.user-action{
    display: flex;
    justify-content: right;
}

.dropdown-perfil {
    position: relative;
    display: inline-block;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.toggle-arrow {
    margin-left: auto;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content.active {
    display: block;
}

.dropdown-item {
    padding: 12px 16px;
    display: block;
    color: #333;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.divide {
    margin: 0;
    border-color: #ddd;
}

.toggle-arrow img {
 
    
    transition: transform 0.3s;
}
.navbar{
    height: 930px;
    background-color: #56A0DC;
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;

}
main{
    display: flex;
   justify-content: center;
   gap: 2rem;
   position: relative;
   bottom: 800px;
   flex-wrap: wrap;
}
.buttons{
    position: relative;
    bottom: 100px;
    width: 500px;
  
    display: flex;
    justify-content: center;
}


.monitoramento-header{
    display: flex;
   padding: 2rem;
    height: 140px;
    flex-direction: column;
    z-index: 99999;
    position: relative;
    bottom: 930px;
    left: 130px;
    background-color: #56A0DC;
    width: 1350px;
gap: 10px;
    
}
.butons{
    display: flex;
    gap: 10px;
}
.graficos{
    position: relative;
    width:532px ;
    border: 1px solid black;
    left: 20px;
}
.metricas{
    width: 775px;
    border: 1px solid black;
    left: 20px;
    position: relative;
}
hr{
    position: relative;
    left: 35px;
    bottom: 115px;

}
#graficoVendas {
    display: flex;
    align-items: flex-end;
    height: 300px;
    padding: 20px;
    gap: 10px;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    position: relative;
  }

  #graficoVendas .barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
  }

  #graficoVendas .valor {
    width: 100%;
    border-radius: 4px 4px 0 0;
    transition: height 0.3s ease;
  }

  #graficoVendas .porcentagem {
    font-size: 10px;
    margin-bottom: 4px;
  }

  #graficoVendas .mes {
    font-size: 12px;
    margin-top: 4px;
  }